$haedline-color:  rgb(248, 100, 14);


.pop-content{
   background-color: white;
   --width: 350px;
}

.headers{
   text-align: center;
   font-size: 15px;
   color: $haedline-color;
}

h3{
   margin-left: 35px;
}