<ion-header id="header">
    <ion-toolbar mode='ios'>
        <ion-icon float-right name="arrow-round-forward" (click)='station.navFunction(1)' ></ion-icon>
        <ion-icon float-center mode='ios' id='home' name="home" (click)='station.navFunction(2)'></ion-icon>
    </ion-toolbar>
  </ion-header>


<ion-content padding>
    <ion-list text-right>
        <ion-card-title class="note" text-center >בשלב זה יש למלא את פרטי הראיון האישי</ion-card-title>
        <ion-item text-right class='interviewerHedar'>
          <ion-label> {{station.candidateName}} </ion-label>
          <ion-label > <strong>ראיון עבור</strong> </ion-label>
        </ion-item>
        <ion-item text-right>
          <ion-input type="text" [(ngModel)]="interviewerName" (ionBlur)='setData(interviewerName,1)' name="interviewer" required="required"></ion-input>
          <ion-label><strong>מראיין</strong></ion-label>
          <ion-note *ngIf='userSetInterviewer' text-right class="userUp" >עודכן ע"י: {{ userSetInterviewer }}</ion-note>
        </ion-item>
        <ion-item text-right>
          <ion-datetime display-format="DD/MM/YYYY" type="date" (ionFocus)='setData(date,2)' [(ngModel)]="date" name="date" required="required" ></ion-datetime> 
          <ion-label text-right>תאריך ראיון</ion-label>
          <ion-note *ngIf='userSetDate' text-right class="userUp" >עודכן ע"י: {{ userSetDate }}</ion-note>
        </ion-item>
        <ion-list>
          <div text-right class="subNote">כיצד היית מסווגת את המועמד לתפקיד</div>
          <ion-item>
              <ion-label text-right>מתאים מאוד</ion-label>
              <ion-checkbox 
                  mode='ios' 
                  [checked]='suitable == 1' 
                  slot="start" value="biff" 
                  (ionFocus)='setRdiuoForms("suitable",1)'>
              </ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label text-right>מתאים חלקית</ion-label>
              <ion-checkbox 
                  mode='ios' 
                  [checked]='suitable == 2' 
                  slot="start" value="biff" 
                  (ionFocus)='setRdiuoForms("suitable",2)'>
              </ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label text-right>יש פוטנציאל</ion-label>
              <ion-checkbox 
                  mode='ios' 
                  [checked]='suitable == 3' 
                  slot="start" value="biff" 
                  (ionFocus)='setRdiuoForms("suitable",3)'>
              </ion-checkbox>
          </ion-item>
          <ion-item>
              <ion-label text-right>תדרש עבודה רבה</ion-label>
              <ion-checkbox 
                  mode='ios' 
                  [checked]='suitable == 4' 
                  slot="start" value="biff" 
                  (ionFocus)='setRdiuoForms("suitable",4)'>
              </ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-item >
            <ion-button small  (click)='setData(discription,3)'>{{saveButton}}</ion-button>
            <ion-label text-right >תקציר הראיון</ion-label>
        </ion-item>
        <ion-item lines="none" >
            <ion-textarea type="text" dir="rtl" text-right *ngIf='!discriptionSet' placeholder="הוסף תקציר" [(ngModel)]="discription" name="discription" ></ion-textarea>
            <ion-text dir="rtl" *ngIf='discriptionSet' > {{discription}} </ion-text>
            <ion-note *ngIf='discriptionSetUser' text-right class="userUp" >עודכן ע"י: {{ discriptionSetUser }}</ion-note>
          </ion-item>
    </ion-list>
</ion-content>


