

    ion-content{
        --background: url('../../assets/pics/backgroundLogo360x640.png');
        
    }
    ion-footer{
        padding: 6px 10px 6px 10px;
        background: rgba(248, 168, 63, 0.349);
        
    }
    .passwordBox{
        margin: 86% 10px 10px 10px;
        --border-radius: 17px;
        // box-shadow:0px -1px 20px 0px grey;
    
        
    }
    .submit{
        margin-top: 100px;
      
    }

    
    @media only screen and (max-width: 375px ){

        ion-content{
            //--ion-background-color: radial-gradient(circle, rgba(255, 254, 254, 0.3), rgba(247, 155, 34, 0.3),  rgba(30, 124, 247, 0.3));
            --background: url('../../assets/pics/backgroundLogo375x667.png');
        }
    }

   

