$haedline-color:  rgb(26, 98, 252);

ion-list{
    border-radius: 14px;
    padding-bottom: 20px;
}


ion-item{

    ion-label{
        margin-right: 10px;
    }

    ion-card-title{
        margin: 20px 0px 20px 0px;
    }

}
// .userUp{
//     position: absolute;
//     bottom: -2px;
//     right: 27px;
// }
// .note{
//     font-size:  16px;
//     margin: 25px 0px 10px 0px; 
//     color: $haedline-color;
//     margin-right: 10px;
// }

// .subNote{
//     font-size:  20px;
//     color: $haedline-color;
//     margin: 28px 12px 0px 0px;
// }
